<header>
  <img
    src="assets/img/braian.jpg"
    alt="Braian Diogenes - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  >
  <h1>Braian Diogenes</h1>
</header>

<aside>
  <div class="container">
    <p>FullStack HTML5 | CSS | JavaScript | NodeJs | VueJs | ReactJs | Angular | PHP | Laravel</p>
    <p>Brasília, DF, Brasil</p>
    <p>Sou um graduado em Sistemas de Informação com habilidades em desenvolvimento web, incluindo HTML, CSS, JavaScript, TypeScript, Node.js, Vue.js, React.js, Angular, PHP, Laravel, MySQL, MongoDB, Redis e Git.
      Possuo experiência na criação de interfaces envolventes e no desenvolvimento de sistemas eficientes.
      Sou colaborativo e adaptável, pronto para contribuir em projetos inovadores e de sucesso.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/braian-di%C3%B3genes-b1759554/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        >
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5561981648208&text=O1%C3%A1%20Braian,%20preciso%20de%20um%20job!" target="_blank">
            <strong>Envie uma mensagem para: </strong>
            <p>WhatsApp: (61) 9 8164-8208</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do E-mail"
          width="22px"
          height="24px"
        >
        <figcaption>
          <a href="mailto:braian.diogenes@gmail.com" target="_blank">
            <strong>Envie uma e-mail para: </strong>
            <p>braian.diogenes&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
